<%
dashboard = 'IDBRfjSmz'
instance = 'default'
panel = @report.grafana(instance).dashboard(dashboard).panel(11)
query = QueryValueQuery.new(panel, variables: { 'result_type' => 'panel_value', 'query' => 'A' })
%>
This is a test <%= query.execute %>.
