# This configuration has been built with the configuration wizard.

grafana:
  default:
    host: http://localhost
    api_key: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx



grafana-reporter:
  report-class: GrafanaReporter::ERB::Report
  templates-folder: .
  reports-folder: ./spec/tmp_test_folder
  report-retention: 24
  webservice-port: 8015

default-document-attributes:
  imagesdir: .
# feel free to add here additional asciidoctor document attributes which are applied to all your templates
